<link href="../../Styles/Calendar/calendar.css" rel="stylesheet" />
<div class="bodyContainer" ng-controller="calendarCtrl" ng-init="init('employee')">
    <div class="otherSpace">
        <div class="infoBox">
            <div class="">{{infoBoxDaysPending}} DAYS PENDING</div>
            <div class="">{{infoBoxDaysConfirmed}} DAYS CONFIRMED</div>
            <div class="">{{infoBoxDaysCancelled}} DAYS CANCELLED</div>
            <div class="">{{infoBoxDaysRemaining}} DAYS REMAINING</div>
        </div>

        <div class="controls">
            <button ng-click="toggleEditMode()">Edit Mode</button>
            <button ng-click="submitHoliday(selectedUser)" ng-model="selectedUser">Submit</button>
            <selectbox></selectbox>
        </div>
    </div>
</div>
