<div class="teamMemberToggleContainer">
    <div class="teamMemberRow">
        <div class="teamMember allPeople" value="all" id="personAll" ng-click="isChecked($event)">All</div>
        <div class="teamMemberInfoHeader">PH</div>
        <div class="teamMemberInfoHeader">CaH</div>
        <div class="teamMemberInfoHeader">CoH</div>
        <div class="teamMemberInfoHeader">RA</div>
        <div class="teamMemberInfoHeader">HA</div>
    </div>
    <div class="teamMemberRow" ng-class="executefunction(user)" ng-repeat="user in teamHolidays">
        <div class="teamMember person" value="{{user.Name}}" ng-click="isChecked($event)">{{user.Name}}</div>
        <div ng-class="{isPendingHoliday: user.PendingHolidays!=0}" class="teamMemberInfo">{{user.PendingHolidays}}</div>
        <div class="teamMemberInfo">{{user.CancelledHolidays}}</div>
        <div class="teamMemberInfo">{{user.ConfirmedHolidays}}</div>
        <div class="teamMemberInfo">{{user.RemainingAllowance}}</div>
        <div class="teamMemberInfo">{{user.HolidayAllowance}}</div>
    </div>
</div>