<div class="header">
    <i class="fa fa-angle-left" ng-click="previous()"></i>
    <span>{{month.format("MMMM YYYY")}}</span>
    <i class="fa fa-angle-right" ng-click="next()"></i>
</div>
<div class="month">
    <div class="week names">
        <span class="day">Mon</span>
        <span class="day">Tue</span>
        <span class="day">Wed</span>
        <span class="day">Thu</span>
        <span class="day">Fri</span>
        <span class="day">Sat</span>
        <span class="day">Sun</span>
    </div>

    <div class="week" ng-repeat="week in weeks">
        <span class="day" ng-class="{
              today: day.isToday,
             'different-month': !day.isCurrentMonth,
              selected: day.date.isSame(selected),
              isWeekend: day.isWeekend,
              isPublicHoliday: day.isPublicHoliday,
              isConfirmedHoliday: day.isConfirmedHoliday,
              isCancelledHoliday: day.isCancelledHoliday,
              isPendingHoliday: day.isPendingHoliday
              }" ng-click="select(day.date)" ng-repeat="day in week.days">{{day.number}}</span>
    </div>
</div>
<div class="key bottom">
    <div id="publicHolidayKey" class="holidayKey">
        <div class="keyColor" id="publicHolidayKeyColor"></div>
        <div class="keyLabel" id="publicHolidayKeyColorLabel">Public Holiday</div>
    </div>
    <div id="pendingHolidayKey" class="holidayKey">
        <div class="keyColor" id="pendingHolidayKeyColor"></div>
        <div class="keyLabel" id="pendingHolidayKeyColorLabel">Pending Holiday</div>
    </div>
    <div id="confirmedHolidayKey" class="holidayKey">
        <div class="keyColor" id="confirmedHolidayKeyColor"></div>
        <div class="keyLabel" id="confirmedHolidayKeyColorLabel">Confirmed Holiday</div>
    </div>
    <div id="cancelledHolidayKey" class="holidayKey">
        <div class="keyColor" id="cancelledHolidayKeyColor"></div>
        <div class="keyLabel" id="cancelledHolidayKeyColorLabel">Cancelled Holiday</div>
    </div>
</div>
