<div class="infoBoxContainer">
    <div class="infoBoxName">{{infoBoxName}}</div>
    <div class="infoBoxContainerTable">
        <div class="infoBoxContainerRow">
            <div class="infoBoxContainerCell">
                <div class="infoBoxContainerValue" id="infoBoxPending">{{infoBoxDaysPending}}</div>
                <div class="infoBoxContainerLabel" id="infoBoxPendingLabel">Pending</div>
            </div>
            <div class="infoBoxContainerCell">
                <div class="infoBoxContainerValue" id="infoBoxCancelled">{{infoBoxDaysCancelled}}</div>
                <div class="infoBoxContainerLabel" id="infoBoxCancelledLabel">Cancelled</div>
            </div>
            <div class="infoBoxContainerCell">
                <div class="infoBoxContainerValue" id="infoBoxConfirmed">{{infoBoxDaysConfirmed}}</div>
                <div class="infoBoxContainerLabel" id="infoBoxConfirmedLabel">Confirmed</div>
            </div>
            <div class="infoBoxContainerCell">
                <div class="infoBoxContainerValue" id="infoBoxRemaining">{{infoBoxDaysRemaining}}</div>
                <div class="infoBoxContainerLabel" id="infoBoxRemainingLabel">Remaining</div>
            </div>
        </div>
    </div>

</div>