<uib-tabset class="navigationalTabsContainer" justified="true">
    <uib-tab class="navigationalTab" heading="Team Members">
        <managercalendarcontrols></managercalendarcontrols>        
    </uib-tab>
    <uib-tab class="navigationalTab" heading="Something Else"></uib-tab>
    <uib-tab class="navigationalTab" heading="Another Thing">Static content3</uib-tab>
    <uib-tab class="navigationalTab" heading="Even More Stuff">Static content4</uib-tab>
    <uib-tab class="navigationalTab" heading="Stop Being Greedy">Static content5</uib-tab>
</uib-tabset>