<div class="hoverTooltip" ng-show="tooltipIsVisible" ng-class="{getHolidayAmount : getHolidayAmount(holidayCountTooltip), holidayNum1:  HolidayAmount == 1, holidayNum2:  HolidayAmount == 2, holidayNum3:  HolidayAmount == 3, holidayNum4:  HolidayAmount == 4, holidayNum5: HolidayAmount == 5}">

    <div class="employeeWithHolidayName" ng-repeat="name in holidayEmployeeNamesTooltip">
        <span class="tooltipName">{{name.name}}</span>
        <span class="tooltipIcon" ng-class="{isFound : checkIsFound(name.isFoundState), 'fa fa-check':  isFoundValue == 'checked', 'fa fa-minus':  isFoundValue == 'crossed', 'fa fa-question': isFoundValue == 'pending'}"></span>
    </div>
</div>