
<div class="header">
    <i class="fa fa-angle-left" ng-click="previous()"></i>
    <span>{{month.format("MMMM, YYYY")}}</span>
    <i class="fa fa-angle-right" ng-click="next()"></i>
</div>
<div class="month">
    <div class="week names">
        <span class="day dayTitle">Mon</span>
        <span class="day dayTitle">Tue</span>
        <span class="day dayTitle">Wed</span>
        <span class="day dayTitle">Thu</span>
        <span class="day dayTitle">Fri</span>
        <span class="day dayTitle">Sat</span>
        <span class="day dayTitle">Sun</span>
    </div>


    <div class="week" ng-repeat="week in weeks">
        <span class="day" ng-class="{
               today: day.isToday,
               'different-month': !day.isCurrentMonth,
               selected: day.date.isSame(selected),
               isPublicHoliday: isPublicHoliday(day.date),
               isPendingHoliday: hasPendingHolidayRequestTeam(day.date),
               isTeamHoliday : populateScopeWithHolidayCounts(day.date),
               isWeekend: isWeekend(day.date),
               holidayNum1:  holidayCount == 1, holidayNum2:  holidayCount == 2, holidayNum3:  holidayCount == 3, holidayNum4:  holidayCount == 4, holidayNum5:  holidayCount == 5
              }" ng-click="select(day.date)" ng-repeat="day in week.days" ng-mouseover="showTooltip($event, day)" ng-mousemove="moveTooltip($event)" ng-mouseleave="hideTooltip()">{{day.number}}</span>
    </div>
</div>

<managercalendartooltip></managercalendartooltip>

<div class="key">
    <div id="publicHolidayKey">
        <div class="keyColor" id="publicHolidayKeyColor"></div>
        <div class="keyLabel">Public Holiday</div>
    </div>
    <div id="pendingHolidayKey">
        <div class="keyColor" id="pendingHolidayKeyColor"></div>
        <div class="keyLabel" id="pendingHolidayKeyColorLabel">Pending Holiday</div>
    </div>
    <div id="teamHolidayKey">
        <div class="teamHolidayKeyLabel">Team Holidays</div>
        <div class="colorContainer">
            <div class="keyColor" id="teamHolidayKeyColor"></div>
        </div>
        <div class="teamHolidayKeyLabelValues one">1</div>
        <div class="teamHolidayKeyLabelValues two">2</div>
        <div class="teamHolidayKeyLabelValues three">3</div>
        <div class="teamHolidayKeyLabelValues four">4</div>
        <div class="teamHolidayKeyLabelValues five">5+</div>
    </div>
</div>
