<uib-tabset class="navigationalTabsContainer" justified="true">
    <uib-tab class="navigationalTab" heading="Static title"><checkbox></checkbox></uib-tab>
    <uib-tab class="navigationalTab" heading="Static title">
    </uib-tab>
    <uib-tab class="navigationalTab" heading="Static title">Static content3</uib-tab>
    <uib-tab class="navigationalTab" heading="Static title">Static content4</uib-tab>
    <uib-tab class="navigationalTab" heading="Static title">Static content5</uib-tab>
</uib-tabset>