<link href="../../../Styles/management.css" rel="stylesheet" />
<div class="page-title">
    <h3>
        Team Management
    </h3>
</div>
<div class="teamManagementContainer managementContainer" ng-controller="ManagementController as managementCtrl">
    <div class="tableContainer">
        <table class="table table-striped table-hover table-bordered">
            <tr class="tableHead">
                <th>Actions</th>
                <th>Team Name</th>
            </tr>
            <tr class="tableRow" ng-repeat="team in teams" data-id="{{team.TeamId}}">
                <td class="actionsColumn">
                    <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" onaftersave="updateTeam($data)" shown="team.TeamId == ''">
                        <button type="submit" value="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            <i class="fa fa-floppy-o"></i>
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                            <i class="fa fa-ban"></i>
                        </button>
                    </form>
                    <div class="actionsOnData" ng-show="!rowform.$visible">
                        <i ng-click="rowform.$show()" class="fa fa-pencil" title="Edit"></i>
                        <i ng-click="deleteTeam(team)" class="fa fa-trash-o" title="Delete"></i>
                    </div>
                </td>
                <td>
                    <span ng-show="!rowform.$visible" e-name="TeamName" ng-model="team.TeamName" editable-text="team.TeamName" e-form="rowform">{{team.TeamName}}</span>
                </td>
                <td ng-hide="true">
                    <span e-name="TeamId" ng-model="team.TeamId" editable-text="team.TeamId" e-form="rowform">{{team.TeamId}}</span>
                </td>
            </tr>
        </table>
        <button class="btn btn-default" ng-click="showCreate()">Add Team</button>
    </div>
    <div class="createContainer ui-widget-content hidden">
        <form class="form-horizontal form-label-left createForm">
            <div class="form-group">
                <label class="control-label">Team Name</label>
                <input class="form-control" type="text" id="team-name" ng-model="newTeam.TeamName" />
            </div>
            <div class="form-actions">
                <button type="submit" value="submit" class="btn btn-success" ng-click="teamRegister(newTeam)">Submit</button>
                <button class="btn btn-danger" ng-click="showCreate()">Cancel</button>
            </div>
        </form>
    </div>
</div>
