<div class="page-title">
    <h3>
        User Management
    </h3>
</div>
<div class="userManagementContainer managementContainer" ng-controller="ManagementController">
    <div class="tableContainer">
        <table class="table table-striped table-hover table-bordered">
            <tr class="tableHead">
                <th>Actions</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email / Login</th>
                <th>Holiday Allowance</th>
                <th>Remaining Allowance</th>
                <th>Role</th>
                <th>Team</th>
            </tr>
            <tr class="tableRow" ng-repeat="user in data" ng-hide="user.Deleted" data-id="{{user.StaffId}}">
                <td class="actionsColumn">
                    <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" onaftersave="updateUser($data)" shown="user.StaffId == ''">
                        <button type="submit" value="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            <i class="fa fa-floppy-o"></i>
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                            <i class="fa fa-ban"></i>
                        </button>
                    </form>
                    <div class="actionsOnData" ng-show="!rowform.$visible">
                        <i ng-click="rowform.$show()" class="fa fa-pencil" title="Edit"></i>
                        <i ng-click="deleteUser(user)" class="fa fa-trash-o" title="Delete"></i>
                        <span uib-dropdown uib-dropdown-append-to-body>
                            <a id="simple-dropdown" uib-dropdown-toggle>
                                <i class="fa fa-user" title="Edit Role"></i>
                            </a>
                            <ul class="uib-dropdown-menu" aria-labelledby="uib-simple-dropdown">
                                <li ng-repeat="role in roles">
                                    <a ng-click="userSetRole(user, role)" id="{{role.Id}}">{{role.Name}}</a>
                                </li>
                            </ul>
                        </span>
                        <span uib-dropdown uib-dropdown-append-to-body>
                            <a id="simple-dropdown" uib-dropdown-toggle>
                                <i class="fa fa-users" title ="Edit Team"></i>
                            </a>
                            <ul class="uib-dropdown-menu" aria-labelledby="uib-simple-dropdown">
                                <li ng-repeat="team in teams">
                                    <a ng-click="teamSetEmployee(user, team)" id="{{team.TeamId}}">{{team.TeamName}}</a>
                                </li>
                            </ul>
                        </span>
                    </div>
                </td>
                <td>
                    <span ng-show="!rowform.$visible" e-name="FirstName" ng-model="user.FirstName" editable-text="user.FirstName" e-form="rowform">{{user.FirstName}}</span>
                </td>
                <td>
                    <span ng-show="!rowform.$visible" e-name="LastName" ng-model="user.LastName" editable-text="user.LastName" e-form="rowform">{{user.LastName}}</span>
                </td>
                <td>
                    <span ng-show="!rowform.$visible" e-name="EmailAddress" ng-model="user.EmailAddress" editable-text="user.UserViewModel.Username" e-form="rowform">{{user.UserViewModel.Username}}</span>
                </td>
                <td>
                    <span ng-show="!rowform.$visible" e-name="HolidayAllowance" ng-model="user.HolidayAllowance" editable-text="user.HolidayAllowance" e-form="rowform">{{user.HolidayAllowance}}</span>
                </td>
                <td>
                    <span ng-show="!rowform.$visible" e-name="RemainingAllowance" ng-model="user.RemainingAllowance" editable-text="user.RemainingAllowance" e-form="rowform">{{user.RemainingAllowance}}</span>
                </td>
                <td>
                    <div ng-repeat="userRoles in user.UserViewModel.RoleViewModels">
                        <span>{{userRoles.Name}} </span>
                        <br/>
                    </div>
                </td>
                <td>
                    <span ng-show="!rowform.$visible" e-name="Team" ng-model="user.Team.TeamId" editable-text="user.TeamId" e-form="rowform">{{user.Team.TeamName}}</span>
                </td>
                <td ng-hide="true">
                    <span e-name="StaffId" ng-model="user.StaffId" editable-text="user.StaffId" e-form="rowform">{{user.StaffId}}</span>
                </td>
            </tr>
        </table>
        <button class="btn btn-default" ng-click="showCreate()">Add User</button>
    </div>
    <div class="createContainer ui-widget-content hidden">
        <form class="form-horizontal form-label-left createForm" name="form" ng-submit="userRegister(newUser)">
            <div class="form-group">
                <label class="control-label">First Name</label>
                <input class="form-control" type="text" ng-model="newUser.FirstName" required autofocus/>
            </div>
            <div class="form-group">
                <label class="control-label">Last Name</label>
                <input class="form-control" type="text" ng-model="newUser.LastName" required/>
            </div>
            <div class="form-group">
                <label class="control-label">Email Address</label>
                <input class="form-control" type="text" ng-model="newUser.EmailAddress" required/>
            </div>
            <div class="form-group">
                <label class="control-label">Team</label>
                <select class="form-control" ng-model="newUser.TeamId" ng-options="team.TeamId as team.TeamName for team in teams" required></select>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-success" ng-disabled="form.$invalid || dataLoading">Submit</button>
                <button type="reset" class="btn btn-danger" ng-click="showCreate()">Cancel</button>
            </div>
        </form>
    </div>
</div>