<div class="managerControlsContainer">
    <div class="controlsTable">
        <div class="tableHeadRow">
            <div class="tableHead allPeople" value="all" id="personAll" ng-click="isChecked($event)">All</div>
            <div class="tableHead">
                <div class="fa fa-question" title="Pending Holiday"></div>
                <span class="notification-counter-pending notification-counter">{{pendingNotificationCount}}</span>
            </div>
            <div class="tableHead">
                <div class="fa fa-times" title="Cancelled Holiday"></div>
                <span class="notification-counter-cancelled notification-counter">{{cancelledNotificationCount}}</span>
            </div>
            <div class="tableHead fa fa-check" title="Confirmed Holiday"></div>
            <div class="tableHead" title="Remaining Allowance">RA</div>
            <div class="tableHead" title="Holiday Allowance">HA</div>
        </div>
        <div class="scrollBar">
            <div class="tableBody">
                <div class="tableRow" ng-class="populateTableCounts(user)" ng-repeat="user in teamUserHolidayBookings" ng-init="$last ? addScrollBar() : null">
                    <div class="tableCell teamMember" step="1" value="{{user.StaffId}}" ng-click="isChecked($event)">{{user.FirstName}} {{user.LastName | limitTo:1}}</div>
                    <div class="tableCell" ng-class="{isPendingHoliday: user.PendingHolidays!=0}" ng-click="tabHolidaySelect(user.StaffId, 0, $event)">{{user.PendingHolidays}}</div>
                    <div class="tableCell" ng-class="{isCancelledHoliday: user.CancelledHolidays!=0}" ng-click="tabHolidaySelect(user.StaffId, 2, $event)">{{user.CancelledHolidays}}</div>
                    <div class="tableCell">{{user.ConfirmedHolidays}}</div>
                    <div class="tableCell">{{user.RemainingAllowance}}</div>
                    <div class="tableCell">{{user.HolidayAllowance}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="actionsTable">
        <div class="tableHeadRow secondary">
            <div class="tableHead">Date</div>
            <div class="tableHead">Actions</div>
        </div>
        <div class="scrollBar">
            <div class="tableBody">
                <div class="tableRow" ng-repeat="tabHoliday in tabHolidays.TabHolidays" ng-init="$last ? addScrollBar() : null">
                    <div class="tableCell">{{formatDate(tabHoliday.HolidayDate.StartDate)}}</div>
                    <div class="tableCell">
                        <div class="fa fa-check tableCellAction" ng-click="tabHolidayAction(tabHoliday.HolidayDate.StartDate,tabHoliday.StaffId,tabHoliday.TypeOfHoliday,'accept')"></div>
                        <div class="fa fa-times tableCellAction" ng-click="tabHolidayAction(tabHoliday.HolidayDate.StartDate,tabHoliday.StaffId,tabHoliday.TypeOfHoliday,'decline')"></div>
                        <div class="fa fa-comment tableCellAction" ng-click=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
