<div class="managerControlsContainer">
    <div class="controlsTable">
        <div class="tableHeadRow">
            <div class="tableHead allPeople" value="all" id="personAll" ng-click="teamMemberSelected($event)">All</div>
            <div class="tableHead">
                <div class="fa fa-question" title="Pending Holiday"></div>
                <span class="notification-counter-pending notification-counter">{{pendingNotificationCount}}</span>
            </div>
            <div class="tableHead">
                <div class="fa fa-times" title="Cancelled Holiday"></div>
                <span class="notification-counter-cancelled notification-counter">{{cancelledNotificationCount}}</span>
            </div>
            <div class="tableHead fa fa-check" title="Confirmed Holiday"></div>
            <div class="tableHead" title="Remaining Allowance">RA</div>
            <div class="tableHead" title="Holiday Allowance">HA</div>
        </div>
        <div class="scrollBar">
            <div class="tableBody">
                <div class="tableRow" ng-class="populateTableCounts(teamMember)" ng-repeat="teamMember in teamUserHolidayBookings" ng-init="$last ? addScrollBar() : null">
                    <div class="tableCell teamMember" step="1" value="{{teamMember.StaffId}}" ng-click="teamMemberSelected($event)">{{teamMember.FirstName}} {{teamMember.LastName | limitTo:1}}</div>
                    <div class="tableCell default" ng-class="{isPendingHoliday: teamMember.PendingHolidays!=0}" ng-click="tabHolidaySelect(teamMember.StaffId, 0, $event)">{{teamMember.PendingHolidays}}</div>
                    <div class="tableCell default" ng-class="{isCancelledHoliday: teamMember.CancelledHolidays!=0}" ng-click="tabHolidaySelect(teamMember.StaffId, 2, $event)">{{teamMember.CancelledHolidays}}</div>
                    <div class="tableCell default">{{teamMember.ConfirmedHolidays}}</div>
                    <div class="tableCell default">{{teamMember.RemainingAllowance}}</div>
                    <div class="tableCell default">{{teamMember.HolidayAllowance}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="actionsTable">
        <div class="tableHeadRow secondary">
            <div class="tableHead">Date</div>
            <div class="tableHead">Actions</div>
        </div>
        <div class="scrollBar">
            <div class="tableBody">
                <div class="tableRow" ng-repeat="tabHoliday in tabHolidays.TabHolidays" ng-init="$last ? addScrollBar() : null">
                    <div class="tableCell default">{{formatDate(tabHoliday.HolidayDate.StartDate, 1)}}</div>
                    <div class="tableCell default">
                        <div class="fa fa-check tableCellAction" ng-click="tabHolidayAction(tabHoliday.HolidayDate.StartDate,tabHoliday.StaffId,tabHoliday.TypeOfHoliday,'accept')"></div>
                        <div class="fa fa-times tableCellAction" ng-click="tabHolidayAction(tabHoliday.HolidayDate.StartDate,tabHoliday.StaffId,tabHoliday.TypeOfHoliday,'decline')"></div>
                        <div class="fa fa-comment tableCellAction" ng-click=""></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="submit" ng-click="submitTeamUsersData()">SUBMIT</div>
    </div>
</div>