@import "colours.less";
@import "animations.less";

@spacing: 10px;
@icon-width: 40px;
@header-height: 40px;

.selectedTemplate() {
    border-bottom: 0;
    border-right: 0;
    box-shadow: inset -10px 0 0 0 #1ABB9C;
}

.innerContainer() {
    background: @innerbackground-colour;
    padding: 10px 17px;
    border: solid 1px @border-colour;
}

.activeAndDead() {
    &.active {
        .selectedTemplate()
    }

    &.dead {
        background: @selected-colour;
        pointer-events: none;
    }
}

.bodyContainer {
    color: @text-colour-primary;
    cursor: default;
    float: left;
    height: 85%;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
    padding: 15px 0 0 15px;

    > .controls {
        float: left;
        height: 100%;
        line-height: 1;
        width: 40%;
        position: relative;

        .tableBody {
            border-collapse: collapse;
            width: 100%;
            text-align: center;

            > tbody {
                font-size: 15px;

                .tableRow {
                    &:nth-of-type(even) {
                        background: #f9f9f9;
                    }

                    &:first-child {
                        border-top: 1px solid @border-colour;
                    }

                    &:last-child {
                        border-bottom: 1px solid @border-colour;
                    }

                    > .tableCell {
                        color: @background-colour;

                        &.default {
                            border-bottom: solid 1px @border-colour;
                            border-right: solid 1px @border-colour;
                            border-left: solid 1px #dddddd;
                        }

                        &.teamMember {
                            background: @background-colour;
                            color: @text-colour-primary;
                            cursor: pointer;
                            padding: 8px 15px;
                            transition: 0.5s;
                        }
                    }
                }

                .tableHeadRow {
                    background: @background-colour;
                    width: 100%;

                    &.secondary {
                        > .tableHead {
                            padding: 8px 5px !important;
                            cursor: default !important;
                        }
                    }

                    > .tableHead {
                        padding: 0 5px;
                        position: relative;
                        color: @text-colour-primary;
                        font-weight: normal;
                        text-align: center;

                        &:first-child {
                            padding: 10px 15px;
                            cursor: pointer;
                            pointer-events: all;
                        }
                    }
                }
            }
        }

        > infobox {
            > .infoBoxContainer {
                background: @innerbackground-colour;
                border: 1px solid @border-colour;
                display: flex;
                margin-right: 5%;

                > .infoBoxSubContainer {
                    text-align: center;
                    padding: 5px;
                    width: 25%;

                    > .infoBoxContainerValue {
                        font-size: 40px;

                        &#infoBoxPending {
                            color: @pendingHoliday-colour;
                        }

                        &#infoBoxCancelled {
                            color: @cancelledHoliday-colour;
                        }

                        &#infoBoxConfirmed {
                            color: @normalHoliday-colour;
                        }

                        &#infoBoxRemaining {
                            color: @text-colour-tertiary;
                        }
                    }

                    > .infoBoxContainerLabel {
                        font-size: 12px;
                        font-weight: normal;
                        color: @text-colour-tertiary;
                    }
                }
            }
        }

        > calendarcontrols {
            .submit {
                width: 100%;
                height: 60px;
                display: table;
                background-color: @background-colour;
                color: @text-colour-primary;
                font-size: 35px;
                line-height: 60px;
                position: relative;

                &:hover {
                    background-color: lighten(@background-colour,2);
                }

                > .submittext {
                    position: absolute;
                    width: 100%;
                    cursor: pointer;
                    z-index: 10;

                    &.active {
                        cursor: none;
                        pointer-events: none;
                    }
                }

                > .sliders {
                    position: absolute;
                    width: 28%;
                    top: 0;
                    height: 100%;
                    font-size: 23px;
                    transition: 1.3s linear all;

                    &.active {
                        cursor: pointer;
                    }

                    > .sliderText {
                        height: 100%;
                        width: 100%;
                        display: none;
                    }
                }

                > .acceptSlider {
                    &.active {
                        background-color: @selected-colour;
                        z-index: 11;
                    }
                }

                > .declineSlider {
                    right: 0;

                    &.active {
                        background-color: @fourHoliday-colour;
                        z-index: 11;
                    }
                }
            }

            > .employeeControlsContainer {
                border-collapse: collapse;
                font-size: 15px;
                font-weight: normal;
                margin: 3% 5% 0 0;
                text-align: center;
                .innerContainer();

                > .controlsContainer {
                    > .nameOfTeam {
                        color: @text-colour-tertiary;
                        font-size: 25px;
                        font-weight: normal;
                        padding-bottom: 2%;
                    }

                    > .tableBody {
                        > tbody {
                            > .tableHeadRow {
                                border-top: 0;

                                > .tableHead {
                                    width: 12%;
                                    text-align: center;

                                    &:first-child {
                                        width: 30%;

                                        &.active {
                                            .selectedTemplate();
                                        }
                                    }
                                }
                            }

                            > .tableRow {
                                > .tableCell {
                                    width: 12%;

                                    &.teamMember {
                                        width: 30%;
                                        .activeAndDead();
                                    }

                                    &.isPendingHoliday {
                                        animation: textpulsatepending 5s;
                                        animation-iteration-count: infinite;
                                        cursor: pointer;
                                    }

                                    &.isCancelledHoliday {
                                        animation: textpulsatecancelled 5s;
                                        animation-iteration-count: infinite;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }

                > .controls {
                    .editModeToggle {
                        width: 100%;
                        height: 60px;
                        display: table;
                        background-color: @background-colour;
                        cursor: pointer;
                        color: @text-colour-primary;
                        font-size: 35px;
                        line-height: 50px;
                        transition: box-shadow 0.4s;
                        box-shadow: inset 0 -10px 0 0 rgba(255,255,255,0.3);

                        &:hover {
                            background-color: lighten(@background-colour,2);
                        }

                        &.active {
                            box-shadow: inset 0 -10px 0 0 @normalHoliday-colour;
                        }
                    }

                    > .changesContainer {
                        display: none;

                        .tableHeadRow {
                            .tableHead {
                                width: 40%;

                                &:first-child {
                                    width: 45%;
                                }

                                &:last-child {
                                    width: 15%;
                                }
                            }
                        }

                        .tableContainer {
                            min-height: 27px;
                            max-height: 280px;
                            overflow-y: auto;

                            &:-webkit-scrollbar-track {
                                background-color: #b46868;
                            }

                            > .tableBody {
                                .tableRow {
                                    .tableCell {
                                        width: 40%;

                                        &.tableCellAction {
                                            color: red;
                                            -webkit-text-stroke: 1px black;
                                            border-bottom: solid 1px @border-colour;
                                            border-right: solid 1px @border-colour;
                                            border-left: solid 1px #dddddd;
                                        }

                                        .fa-times {
                                            cursor: pointer;
                                        }

                                        background: white;

                                        .td-slider {
                                            display: none;
                                        }

                                        &:first-child {
                                            width: 45%;
                                        }

                                        &:last-child {
                                            width: 15%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            > .managerControlsContainer {
                margin-right: 5%;
                .innerContainer();
                text-align: center;

                > .controlsContainer {
                    > .tableBody {
                        > tbody {
                            > .tableHeadRow {
                                > .tableHead {
                                    width: 70%/5;

                                    &:first-child {
                                        width: 30%;

                                        &.active {
                                            .selectedTemplate()
                                        }
                                    }

                                    > .notification-counter {
                                        background-color: @notification-colour;
                                        border-bottom-left-radius: 5px;
                                        box-shadow: 1px 0 1px 0 #2a3f54;
                                        font-size: 12px;
                                        font-weight: normal;
                                        height: 15px;
                                        line-height: 1;
                                        padding: 1px 3px;
                                        position: absolute;
                                        right: 0;
                                        top: 0;
                                    }
                                }
                            }

                            > .tableRow {
                                > .tableCell {
                                    width: 70%/5;

                                    &.teamMember {
                                        width: 30%;
                                        .activeAndDead();
                                    }

                                    &.isPendingHoliday {
                                        animation: textpulsatepending 5s;
                                        animation-iteration-count: infinite;
                                        cursor: pointer;

                                        &.clicked {
                                            background: fade(@pendingHoliday-colour,40%);
                                            animation: none;
                                        }
                                    }

                                    &.isCancelledHoliday {
                                        animation: textpulsatecancelled 5s;
                                        animation-iteration-count: infinite;
                                        cursor: pointer;

                                        &.clicked {
                                            animation: none;
                                            background: fade(@cancelledHoliday-colour,40%);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                > .actionsContainer {
                    display: none;

                    > .tableBody {
                        > tbody {
                            > .tableHeadRow {
                                > .tableHead {
                                    &:last-child {
                                        width: 25%;
                                    }
                                }
                            }

                            > .tableRow {
                                > .tableCell {
                                    background: rgba(255,255,255,0.15);
                                    border-bottom: 1px solid @border-colour;

                                    &:last-child {
                                        width: 25%;
                                    }

                                    > .tableCellAction {
                                        cursor: pointer;
                                        -webkit-text-stroke: 1px black;

                                        &.fa-check {
                                            color: #0f0;
                                        }

                                        &.fa-times {
                                            color: red;
                                        }

                                        &.fa-comment {
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    > calendar {
        background: @innerbackground-colour;
        border: 1px solid @border-colour;
        float: left;
        height: 75%;
        position: relative;
        width: 50%;

        > tooltip {
            > .hoverTooltip {
                background: rgba(0,0,0,0.85);
                border-spacing: 9px;
                outline: solid 1px black;
                position: fixed;
                text-align: center;
                z-index: 1;

                &.teamHoliday1 {
                    border: solid 1px @oneHoliday-colour;
                }

                &.teamHoliday2 {
                    border: solid 1px @twoHoliday-colour;
                }

                &.teamHoliday3 {
                    border: solid 1px @threeHoliday-colour;
                }

                &.teamHoliday4 {
                    border: solid 1px @fourHoliday-colour;
                }

                &.teamHoliday5 {
                    border: solid 1px @fiveHoliday-colour;
                }

                > .employeeWithHolidayName {
                    display: table-row;

                    > .tooltipName {
                        display: table-cell;
                    }

                    > .tooltipIcon {
                        display: table-cell;
                    }

                    > .fa-check {
                        background-color: fade(lime,30%);
                        color: lime;
                        outline: 1px solid lime;
                    }

                    > .fa-times {
                        background-color: fade(@cancelledHoliday-colour,30%);
                        color: @cancelledHoliday-colour;
                        outline: 1px solid @cancelledHoliday-colour;
                    }

                    > .fa-question {
                        background-color: fade(@pendingHoliday-colour,30%);
                        color: @pendingHoliday-colour;
                        outline: 1px solid @pendingHoliday-colour;
                    }
                }
            }
        }

        > .header {
            color: @text-colour-tertiary;
            float: left;
            padding-top: 10%;
            width: 100%;
            height: 20%;

            > i {
                cursor: pointer;
                float: left;
                position: relative;
                width: 10%;
            }

            > .fa-angle-left {
                text-align: left;
                padding-left: 2%;
            }

            > .fa-angle-right {
                text-align: right;
                position: absolute;
                right: 0;
                padding-right: 2%;
            }

            > span {
                float: left;
                font-size: 2em;
                font-weight: bold;
                pointer-events: none;
                text-align: center;
                text-transform: uppercase;
                width: 80%;
            }
        }

        > .month {
            height: 50%;

            > .week {
                margin-left: 15%;
                margin-right: 15%;
                margin-top: 3px;
                width: 70%;
                height: 100%/7;
                float: left;

                &.names {
                    margin-bottom: 20px;

                    > span {
                        background: rgba(255,255,255,0);
                        color: @text-colour-tertiary;
                        margin-top: 30px;
                        pointer-events: none;
                    }
                }

                > .day {
                    display: table;
                    height: 100%;
                    line-height: 100% !important;
                    background: @background-colour;
                    border-radius: 15%;
                    cursor: pointer;
                    float: left;
                    margin: 0 0.5% 0.5% 0;
                    position: relative;
                    text-align: center;
                    width: 90%/7;

                    > .dayNumber {
                        display: table-cell;
                        vertical-align: middle;
                    }

                    > .confirmedHolidayCount {
                        background-color: @notification-colour;
                        border-bottom-left-radius: 5px;
                        border-top-right-radius: 5px;
                        box-shadow: 1px 0 1px 0 #2a3f54;
                        display: none;
                        font-size: 14px;
                        font-weight: normal;
                        height: 15px;
                        line-height: 1;
                        padding: 1px 3px;
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 15px;
                    }

                    &.isweekend {
                        background: #C5C7CB;
                        cursor: none;
                        pointer-events: none;
                    }

                    &.today {
                        font-size: 1.8em;
                        font-weight: bolder;
                    }

                    &.different-month {
                        color: rgba(255, 255, 255, 0.60);
                    }

                    &.selected {
                        background: lighten(@background-colour,5%);
                        border-radius: 15%;
                    }

                    &.isConfirmedHoliday {
                        background: @normalHoliday-colour;
                    }

                    &.isPublicHoliday {
                        background: @publicHoliday-colour;
                        cursor: none;
                        pointer-events: none;
                    }

                    &.isPendingHoliday {
                        background-color: @pendingHoliday-colour !important;
                    }

                    &.isCancelledHoliday {
                        background: @cancelledHoliday-colour !important;
                    }

                    &.isTeamHoliday.isPendingHoliday {
                        background: @pendingHoliday-colour !important;
                    }

                    &.teamHoliday1 {
                        background: fade(@oneHoliday-colour, 80%);
                        border-radius: 15%;
                    }

                    &.teamHoliday2 {
                        background: fade(@twoHoliday-colour, 80%);
                        border-radius: 15%;
                    }

                    &.teamHoliday3 {
                        background: fade(@threeHoliday-colour, 80%);
                        border-radius: 15%;
                    }

                    &.teamHoliday4 {
                        background: fade(@fourHoliday-colour, 80%);
                        border-radius: 15%;
                    }

                    &.teamHoliday5 {
                        background: fade(@fiveHoliday-colour, 80%);
                        border-radius: 15%;
                    }
                }
            }
        }

        > .key {
            color: @text-colour-tertiary;
            height: 10%;
            padding-left: 5%;
            padding-right: 5%;
            pointer-events: none;
            position: absolute;
            width: 100%;

            &.bottom {
                bottom: 0;
            }

            &.manager {
                bottom: 10%;
                padding-left: 25%;
                padding-right: 25%;
            }

            > .holidaykey {
                height: 100%;

                > .keyLabel {
                    display: flex;
                    flex-direction: column;
                    float: left;
                    height: 100%;
                    justify-content: center;
                    padding: 12.5%;
                    text-align: center;
                    width: 79%;
                }

                > .keyColor {
                    border: 1px solid #dddddd;
                    border-bottom: 0;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    float: left;
                    height: 100%;
                    width: 21%;
                }
            }

            #publicHolidayKey {
                float: left;
                width: 25%;

                > #publicHolidayKeyColor {
                    background-color: @publicHoliday-colour;
                }
            }

            #confirmedHolidayKey {
                float: left;
                width: 25%;

                > #confirmedHolidayKeyColor {
                    background-color: @normalHoliday-colour;
                }
            }

            #pendingHolidayKey {
                float: left;
                width: 25%;

                > #pendingHolidayKeyColor {
                    background-color: @pendingHoliday-colour;
                }
            }

            #cancelledHolidayKey {
                float: left;
                width: 25%;

                > #cancelledHolidayKeyColor {
                    background-color: @cancelledHoliday-colour;
                }
            }

            #teamHolidayKey {
                display: table;
                float: left;
                height: 100%;
                width: 100%;

                > .teamHolidayKeyLabel {
                    text-align: center;
                    width: 100%;
                }

                > .colorContainer {
                    display: table-row;
                    height: 2vh;
                    vertical-align: middle;
                    width: 100%;

                    > #teamHolidayKeyColor {
                        background: linear-gradient(to right, @oneHoliday-colour 0, @twoHoliday-colour 25%, @threeHoliday-colour 50%, @fourHoliday-colour 75%, @fiveHoliday-colour 100%);
                        background: -webkit-gradient(linear, left top, right top,color-stop(0, @oneHoliday-colour),color-stop(25%, @twoHoliday-colour), color-stop(50%, @threeHoliday-colour),color-stop(75%, @fourHoliday-colour), color-stop(100%, @fiveHoliday-colour));
                        background: -moz-linear-gradient(left, @oneHoliday-colour 0, @twoHoliday-colour 25%, @threeHoliday-colour 50%, @fourHoliday-colour 75%, @fiveHoliday-colour 100%);
                        background: -ms-linear-gradient(left, @oneHoliday-colour 0, @twoHoliday-colour 25%, @threeHoliday-colour 50%,@fourHoliday-colour 75%, @fiveHoliday-colour 100%);
                        border-bottom: 1px solid black;
                        border-radius: 15px;
                        height: 100%;
                        width: 100%;
                    }
                }

                > div {
                    display: table-footer-group;
                    float: left;

                    &.one {
                    }

                    &.two {
                        margin-left: 20%;
                    }

                    &.three {
                        margin-left: 20%;
                    }

                    &.four {
                        margin-left: 20%;
                    }

                    &.five {
                        float: right;
                    }
                }
            }
        }
    }
}
