@import "colours.less";

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../Content/fonts/Roboto-Thin.ttf') format('truetype');
}

.mainContainer {
    &.minimized {
        > .menuContainer {
            width: 110px;

            .logo {
                &.large {
                    display: none !important;
                }

                &.small {
                    display: block !important;
                }
            }

            .profile {
                display: none !important;
            }

            .side-menu {
                color: magenta;

                li {
                    color: magenta;

                    a {
                        text-align: center !important;
                        font-weight: 400;
                        font-size: 10px;
                        padding: 10px 5px;

                        .fa {
                            font-size: 25px !important;
                            text-align: center;
                            width: 100% !important;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }

        > .topNav {
            margin-left: 110px;
        }

        > .pageBody {
            padding-left: 110px;
        }
    }

    > .menuContainer {
        width: 230px;
        padding: 0;
        position: absolute;
        display: flex;
        min-height: 1px;
        float: left;
        height: 100%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;

        .side-bar {
            height: 100%;
            background: #2A3F54;
            color: white;
            width: 100%;

            > .logo {
                cursor: default;
                -webkit-user-select: none;
                text-align: center;
                margin-top: 10px;
                font-family: Roboto-Thin;
                font-size: 50px;


                &.small {
                    display: none;
                }
            }

            > .profile {
                display: flex;
                margin-bottom: 10px;

                > .profilePic {
                    width: 35%;
                    float: left;

                    > .profileImg {
                        width: 70%;
                        background: #fff;
                        margin-left: 15%;
                        z-index: 1000;
                        position: inherit;
                        margin-top: 20px;
                        border: 1px solid rgba(52,73,94,0.44);
                        padding: 4px;
                    }
                }

                > .profileInfo {
                    padding: 25px 10px 10px;
                    width: 65%;
                    float: left;

                    > span {
                        font-size: 13px;
                        line-height: 30px;
                        color: #BAB8B8;
                    }

                    > h2 {
                        font-size: 14px;
                        color: #ECF0F1;
                        margin: 0;
                        font-weight: 300;
                    }
                }
            }

            > .side-bar-menu {
                .menuSection {
                    > .side-menu {
                        > li.active {
                            border-right: 5px solid #1ABB9C;
                            transition: 0.2s;

                            > a {
                                text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
                                background: linear-gradient(#334556, #2C4257), #2A3F54;
                                box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
                            }
                        }

                        > li {
                            cursor: pointer;

                            > a {
                                color: #E7E7E7 !important;

                                > .fa {
                                    width: 1.3em;
                                    font-size: 18px;
                                }

                                &:hover {
                                    color: #F2F5F7 !important;
                                }

                                &:hover, &:focus {
                                    text-decoration: none;
                                    background: transparent;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    > .topNav {
        padding: 0 !important;
        display: flex;
        margin-left: 230px;

        > .navMenu {
            float: left;
            background: #EDEDED;
            border-bottom: 1px solid #D9DEE4;
            width: 100%;
            height: 58px;

            > nav {

                > .toggle {
                    float: left;
                    padding-top: 16px;
                    width: 70px;

                    > .menu-toggle {
                        padding: 0 15px;
                        margin: 0;
                        font-size: 26px;
                        cursor: pointer;
                    }
                }

                > .navbar-right {
                    margin: 0;
                    width: 70%;
                    float: right;
                    margin-right: 0;

                    > li {
                        display: inline-block;
                        float: right;

                        > a {
                            color: #515356 !important;
                            margin-left: 0 !important;
                            line-height: 32px;
                            font-weight: 500;
                            margin-bottom: 5px;
                            position: relative;
                            display: block;
                            padding: 13px 15px 7px;

                            > img {
                                width: 29px;
                                height: 29px;
                                border-radius: 50%;
                                margin-right: 10px;
                            }
                        }

                        > .dropdown-menu {
                            position: absolute;
                            background: #fff;
                            margin-top: 0;
                            border: 1px solid #D9DEE4;
                            box-shadow: none;
                            min-width: 220px;

                            > li {
                                width: 100%;

                                > a {
                                    color: #5A738E;
                                    width: 100%;
                                    padding: 12px 20px;
                                    line-height: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    > .pageBody {
        background: #F7F7F7;
        padding-left: 230px;
        min-height: 880px;
    }
}

.page-title {
    padding: 0 0 10px 10px;
    width: 100%;
    float: left;
    display: block;
    background: white;
    border-bottom: 1px solid @border-colour !important;

    > h3 {
        padding-left: 15px;
    }
}
