<div class="menuSection">
    <ul class="nav side-menu">
        <li class="active" id="Login" style="pointer-events:none">
            <a ng-show="loginStatus == false" ng-click="navigate('Login')">Login</a>
        </li>
        <li id="EmployeeCalendar" class="menuLink">
            <a ng-show="loginStatus == true" ng-click="navigate('EmployeeCalendar')">My Calendar</a>
        </li>
        <li id="ManagerCalendar" class="menuLink">
            <a ng-show="loginStatus == true && role == 'admin'" ng-click="navigate('ManagerCalendar')">Manager Calendar</a>
        </li>
        <li id="UserManagementTable" class="menuLink">
            <a ng-show="loginStatus == true && role == 'admin'" ng-click="navigate('UserManagementTable')">User Management</a>
        </li>
    </ul>
</div>