<div class="managerControlsContainer">
    <div class="tableHeaderRow">
        <div class="tableHeader allPeople" value="all" id="personAll" ng-click="isChecked($event)">All</div>
        <div class="tableHeader">
            <div class="fa fa-question"></div>
            <span class="notification-counter-pending notification-counter">{{pendingNotificationCount}}</span>
        </div>
        <div class="tableHeader">
            <div class="fa fa-times"></div>
            <span class="notification-counter-cancelled notification-counter">{{cancelledNotificationCount}}</span>
        </div>
        <div class="tableHeader fa fa-check"></div>
        <div class="tableHeader">RA</div>
        <div class="tableHeader">HA</div>
    </div>
    <div class="subTableBody">
        <div class="subTable">
            <div class="tableRow" ng-class="populateTableCounts(user)" ng-repeat="user in teamUserHolidayBookings" ng-init="$last ? addScrollBar() : null">
                <div class="tableCell teamMember" step="1" value="{{user.StaffId}}" ng-click="isChecked($event)">{{user.FirstName}} {{user.LastName | limitTo:1}}</div>
                <div class="tableCell" ng-class="{isPendingHoliday: user.PendingHolidays!=0}" ng-click="tabHolidaySelect(user.StaffId, 0)">{{user.PendingHolidays}}</div>
                <div class="tableCell" ng-class="{isCancelledHoliday: user.CancelledHolidays!=0}" ng-click="tabHolidaySelect(user.StaffId, 2)">{{user.CancelledHolidays}}</div>
                <div class="tableCell">{{user.ConfirmedHolidays}}</div>
                <div class="tableCell">{{user.RemainingAllowance}}</div>
                <div class="tableCell">{{user.HolidayAllowance}}</div>
            </div>
        </div>
    </div>
    <div class="tabTableHeaderRow">
        <div class="tableHeader">Date</div>
        <div class="tableHeader">Actions</div>
    </div>
    <div class="subTabTableBody">
        <div class="subTabTable">
            <div class="tableRow" ng-repeat="tabHoliday in tabHolidays.TabHolidays" ng-init="$last ? addScrollBar() : null">
                <div class="tableCell">{{formatDate(tabHoliday.HolidayDate.StartDate)}}</div>
                <div class="tableCell">
                    <div class="fa fa-check tableCellAction" ng-click="tabHolidayAction(tabHoliday.HolidayDate.StartDate,tabHoliday.StaffId,tabHoliday.TypeOfHoliday,'accept')"></div>
                    <div class="fa fa-times tableCellAction" ng-click="tabHolidayAction(tabHoliday.HolidayDate.StartDate,tabHoliday.StaffId,tabHoliday.TypeOfHoliday,'decline')"></div>
                    <div class="fa fa-comment tableCellAction" ng-click=""></div>
    
                </div>
            </div>
        </div>
    </div>
</div>
