<div class="employeeControlsContainer">
    <div class="controlsTable">
        <div class="nameOfTeam">Technical Team</div>
        <div class="tableHeadRow">
            <div class="tableHead allPeople" value="all" id="personAll" ng-click="isChecked($event)">All</div>
            <div class="tableHead">
                <div class="fa fa-check" title="Confirmed Holiday"></div>
            </div>
            <div class="tableHead" title="Remaining Allowance">RA</div>
            <div class="tableHead" title="Holiday Allowance">HA</div>
        </div>
        <div class="tableBody">
            <div class="tableRow" ng-class="populateTableCounts(user)" ng-repeat="user in teamUserHolidayBookings" ng-init="$last ? addScrollBar() : null">
                <div class="tableCell teamMember" value="{{user.StaffId}}" step="1" ng-click="isChecked($event)">{{user.FirstName}} {{user.LastName | limitTo:1}}</div>
                <div class="tableCell">{{user.ConfirmedHolidays}}</div>
                <div class="tableCell">{{user.RemainingAllowance}}</div>
                <div class="tableCell">{{user.HolidayAllowance}}</div>
            </div>
        </div>
    </div>
    <div class="controls">
        <div class="switch">
            <div class="editModeToggle" ng-click="toggleEditMode($event)">
                EDIT
            </div>
        </div>
        <div class="tableHeadRow secondary">
            <div class="tableHead">Change #</div>
            <div class="tableHead">Type</div>
        </div>
        <div class="tableBody">
            <div class="tableRow">
                <div class ="tableCell">1</div>
                <div class ="tableCell">Cancellation</div>
            </div>
            <div class="tableRow">
                <div class="tableCell">2</div>
                <div class="tableCell">Cancellation</div>
            </div>
            <div class="tableRow">
                <div class="tableCell">3</div>
                <div class="tableCell">Booking</div>
            </div>
        </div>
        <button>SUBMIT</button>
    </div>
</div>
