<div class="employeeControlsContainer">
    <div class="controlsTable">
        <div class="nameOfTeam">Technical Team</div>
        <div class="tableHeaderRow">
            <div class="tableHeader allPeople" value="all" id="personAll" ng-click="isChecked($event)">All</div>
            <div class="tableHeader">
                <div class="fa fa-check" title="Confirmed Holiday"></div>
            </div>
            <div class="tableHeader" title="Remaining Allowance">RA</div>
            <div class="tableHeader" title="Holiday Allowance">HA</div>
        </div>
        <div class="subTable">
            <div class="tableRow" ng-class="populateTableCounts(user)" ng-repeat="user in teamUserHolidayBookings" ng-init="$last ? addScrollBar() : null">
                <div class="tableCell teamMember" value="{{user.StaffId}}" step="1" ng-click="isChecked($event)">{{user.FirstName}} {{user.LastName | limitTo:1}}</div>
                <div class="tableCell">{{user.ConfirmedHolidays}}</div>
                <div class="tableCell">{{user.RemainingAllowance}}</div>
                <div class="tableCell">{{user.HolidayAllowance}}</div>
            </div>
        </div>
    </div>
    <div class="controls">
        <div class="switch">
            <div class="editModeToggle" ng-click="toggleEditMode($event)">
                EDIT
            </div>
        </div>
        <div class="tableHeaderRow">
            <div>Change #</div>
            <div>Type</div>
        </div>
        <div
            <div>1</div>
            <div>Cancellation</div>
        </div>
        <div>
            <div>2</div>
            <div>Cancellation</div>
        </div>
        <div>
            <div>3</div>
            <div>Booking</div>
        </div>
        <button>SUBMIT</button>
    </div>
</div>
