@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../Content/fonts/Roboto-Regular.ttf') format('truetype');
}
.border-box {
  box-sizing: border-box;
}
.bodyContainer {
  width: 100%;
  height: 70%;
  border: 1px solid black;
  font-family: Roboto-Regular;
  position: relative;
  background-size: cover;
  background-image: url('../../Content/images/background.jpg');
}
.bodyContainer > .otherSpace {
  position: relative;
  width: 40%;
  height: 100%;
  font-size: 330%;
  color: rgba(255, 255, 255, 0.8);
  font-weight: bolder;
  line-height: 1;
  float: left;
  z-index: 6;
}
.bodyContainer > .otherSpace > .title {
  width: 100%;
  padding-top: 5%;
  text-align: center;
  text-shadow: 0 0 0 #cccccc, 0 1px 0 #c9c9c9, 0 2px 0 #bbbbbb, 0 3px 0 #b9b9b9, 0 4px 0 #aaaaaa, 0 5px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 0px 3px rgba(0, 0, 0, 0.3), 0 1px 5px rgba(0, 0, 0, 0.2), 0 3px 10px rgba(0, 0, 0, 0.25), 0 7px 10px rgba(0, 0, 0, 0.2), 0 15px 20px rgba(0, 0, 0, 0.15);
}
.bodyContainer > .otherSpace > .dayspending {
  width: 100%;
  text-align: center;
  margin-top: 10%;
  text-shadow: 0 0px 0 #cccccc, 0 1px 0 #c9c9c9, 0 2px 0 #bbbbbb, 0 3px 0 #b9b9b9, 0 4px 0 #aaaaaa, 0 5px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 0px 3px rgba(0, 0, 0, 0.3), 0 1px 5px rgba(0, 0, 0, 0.2), 0 3px 10px rgba(0, 0, 0, 0.25), 0 7px 10px rgba(0, 0, 0, 0.2), 0 15px 20px rgba(0, 0, 0, 0.15);
}
.bodyContainer > .otherSpace > .daysconfirmed {
  width: 100%;
  text-align: center;
  margin-top: 10%;
  text-shadow: 0 0px 0 #cccccc, 0 1px 0 #c9c9c9, 0 2px 0 #bbbbbb, 0 3px 0 #b9b9b9, 0 4px 0 #aaaaaa, 0 5px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 0px 3px rgba(0, 0, 0, 0.3), 0 1px 5px rgba(0, 0, 0, 0.2), 0 3px 10px rgba(0, 0, 0, 0.25), 0 7px 10px rgba(0, 0, 0, 0.2), 0 15px 20px rgba(0, 0, 0, 0.15);
}
.bodyContainer > .otherSpace > .dayscancelled {
  width: 100%;
  text-align: center;
  margin-top: 10%;
  text-shadow: 0 0px 0 #cccccc, 0 1px 0 #c9c9c9, 0 2px 0 #bbbbbb, 0 3px 0 #b9b9b9, 0 4px 0 #aaaaaa, 0 5px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 0px 3px rgba(0, 0, 0, 0.3), 0 1px 5px rgba(0, 0, 0, 0.2), 0 3px 10px rgba(0, 0, 0, 0.25), 0 7px 10px rgba(0, 0, 0, 0.2), 0 15px 20px rgba(0, 0, 0, 0.15);
}
.bodyContainer > .otherSpace > .daysremaining {
  width: 100%;
  text-align: center;
  margin-top: 10%;
  text-shadow: 0 0px 0 #cccccc, 0 1px 0 #c9c9c9, 0 2px 0 #bbbbbb, 0 3px 0 #b9b9b9, 0 4px 0 #aaaaaa, 0 5px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 0px 3px rgba(0, 0, 0, 0.3), 0 1px 5px rgba(0, 0, 0, 0.2), 0 3px 10px rgba(0, 0, 0, 0.25), 0 7px 10px rgba(0, 0, 0, 0.2), 0 15px 20px rgba(0, 0, 0, 0.15);
}
.bodyContainer > .otherSpace > tabs {
  color: white;
  font-size: 15px;
  font-weight: normal;
}
.bodyContainer > .otherSpace > tabs > .navigationalTabsContainer {
  margin-top: 5%;
  padding-left: 6%;
  padding-right: 6%;
  border-collapse: collapse;
}
.bodyContainer > .otherSpace > tabs > .navigationalTabsContainer > .nav > .navigationalTab {
  border: 1px solid #808080;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 0;
}
.bodyContainer > .otherSpace > tabs > .navigationalTabsContainer > .nav > .navigationalTab > a {
  border: 0;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0;
}
.bodyContainer > .otherSpace > tabs > .navigationalTabsContainer > .nav > .navigationalTab.active > a {
  background: #808080;
}
.bodyContainer > .otherSpace > tabs > .navigationalTabsContainer > .tab-content > .tab-pane {
  height: 63%;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  border-bottom: 1px solid #808080;
  background: rgba(0, 0, 0, 0.6);
}
.bodyContainer > .otherSpace > tabs > .navigationalTabsContainer > .tab-content > .tab-pane > checkbox > .teamMemberToggleContainer {
  display: table;
  margin: 0 auto;
}
.bodyContainer > .otherSpace > tabs > .navigationalTabsContainer > .tab-content > .tab-pane > checkbox > .teamMemberToggleContainer > .rowOfTeamMembers {
  display: table-row;
}
.bodyContainer > .otherSpace > tabs > .navigationalTabsContainer > .tab-content > .tab-pane > checkbox > .teamMemberToggleContainer > .rowOfTeamMembers > .teamMember {
  cursor: pointer;
  display: table-cell;
  background: rgba(51, 51, 51, 0.6);
  padding: 10px 15px;
  text-align: center;
  border: 1px solid #808080;
}
.bodyContainer > .otherSpace > tabs > .navigationalTabsContainer > .tab-content > .tab-pane > checkbox > .teamMemberToggleContainer > .rowOfTeamMembers > .teamMember.active {
  background: rgba(128, 128, 128, 0.6);
}
.bodyContainer > .otherSpace > tabs > .navigationalTabsContainer > .tab-content > .tab-pane > checkbox > .teamMemberToggleContainer > .rowOfTeamMembers > .teamMember.dead {
  cursor: none;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.6);
}
.bodyContainer > .otherSpace > .controls {
  position: absolute;
  bottom: 1px;
  color: white;
  font-size: 15px;
  font-weight: normal;
}
.bodyContainer > .otherSpace > .controls > button {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.8);
}
.bodyContainer > .otherSpace > .controls > selectbox > #selectContainer {
  background: rgba(0, 0, 0, 0.6);
  vertical-align: bottom;
}
.bodyContainer > .otherSpace > .controls > selectbox > #selectContainer > option {
  background-color: rgba(0, 0, 0, 0.6);
}
.bodyContainer > calendar {
  position: relative;
  border-right: 1px solid black;
  border-left: 1px solid black;
  float: left;
  display: block;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  width: 50%;
  height: 100%;
  z-index: 7;
}
.bodyContainer > calendar > .header {
  float: left;
  width: 100%;
  height: 40px;
  color: white;
  margin-top: 15%;
}
.bodyContainer > calendar > .header > * {
  height: 40px;
  line-height: 40px !important;
  display: inline-block;
  vertical-align: middle;
}
.bodyContainer > calendar > .header > i {
  float: left;
  width: 10%;
  position: relative;
  box-sizing: border-box;
  padding: 0 10px;
  cursor: pointer;
}
 > .bodyContainer > calendar > .header > i.fa-angle-left {
  text-align: left;
}
 > .bodyContainer > calendar > .header > i.fa-angle-right {
  text-align: right;
}
.bodyContainer > calendar > .header > span {
  float: left;
  width: 80%;
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
  box-sizing: border-box;
  text-align: center;
  color: inherit;
}
.bodyContainer > calendar > .month {
  transition: 2s;
}
.bodyContainer > calendar > .month > .week {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  float: left;
}
.bodyContainer > calendar > .month > .week:first-child {
  border-top: none;
}
.bodyContainer > calendar > .month > .week > .day {
  float: left;
  border-radius: 15%;
  width: 13.57142857%;
  box-sizing: border-box;
  font-size: 1em;
  text-align: center;
  height: 5vh;
  line-height: 5vh !important;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  color: white;
  margin: 0.35714286%;
}
.bodyContainer > calendar > .month > .week > .day.isweekend {
  cursor: none;
  pointer-events: none;
  background: rgba(102, 102, 102, 0.6);
}
.bodyContainer > calendar > .month > .week > .day.today {
  font-size: 1.8em;
  font-weight: bolder;
}
.bodyContainer > calendar > .month > .week > .day.different-month {
  color: rgba(255, 255, 255, 0.6);
}
.bodyContainer > calendar > .month > .week > .day.selected {
  background: rgba(254, 254, 254, 0.4);
  border-radius: 15%;
}
@keyframes holidayAnimation {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
}
.bodyContainer > calendar > .month > .week > .day.isConfirmedHoliday {
  background: #72c015;
  transition: 2s;
}
.bodyContainer > calendar > .month > .week > .day.isPublicHoliday {
  background: #2875c7;
  cursor: none;
  pointer-events: none;
}
.bodyContainer > calendar > .month > .week > .day.isPendingHoliday {
  background-color: purple;
  transition: 2s;
}
.bodyContainer > calendar > .month > .week > .day.isCancelledHoliday {
  background-color: red;
  transition: 2s;
}
.bodyContainer > calendar > .month > .week > .day.isTeamHoliday.isPendingHoliday {
  animation-delay: 2s;
  animation: pending 5s;
  animation-iteration-count: infinite;
}
@keyframes pending {
  from {
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    transform: scale3d(0.99, 0.99, 0.99) rotate3d(0, 0, 1, -2deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.01, 1.01, 1.01) rotate3d(0, 0, 1, 2deg);
  }
  40%,
  60%,
  80% {
    transform: scale3d(1.01, 1.01, 1.01) rotate3d(0, 0, 1, -2deg);
  }
  91% {
    background: purple;
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulsate {
  0% {
    opacity: 1;
    border: 0.4px solid black;
  }
  50% {
    opacity: 0.95;
    border: 0.8px solid black;
  }
  100% {
    opacity: 1;
    border: 0.4px solid black;
  }
}
.bodyContainer > calendar > .month > .week > .day.holidayNum1 {
  background: rgba(0, 255, 0, 0.8);
  color: white;
  border-radius: 15%;
  transition: 2s;
}
.bodyContainer > calendar > .month > .week > .day.holidayNum2 {
  background: rgba(170, 255, 0, 0.8);
  color: white;
  border-radius: 15%;
  transition: 2s;
}
.bodyContainer > calendar > .month > .week > .day.holidayNum3 {
  background: rgba(255, 187, 0, 0.8);
  color: white;
  border-radius: 15%;
  transition: 2s;
}
.bodyContainer > calendar > .month > .week > .day.holidayNum4 {
  background: rgba(255, 68, 0, 0.8);
  color: white;
  border-radius: 15%;
  transition: 2s;
}
.bodyContainer > calendar > .month > .week > .day.holidayNum5 {
  background: rgba(255, 0, 0, 0.8);
  color: white;
  border-radius: 15%;
  transition: 2s;
}
.bodyContainer > calendar > .month > .week.names > span {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 30px;
}
.bodyContainer > calendar > tooltip > .hoverTooltip {
  position: fixed;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
  outline: solid 1px black;
  color: white;
  pointer-events: none;
  display: table;
  border-spacing: 9px;
  text-align: center;
}
.bodyContainer > calendar > tooltip > .hoverTooltip.holidayNum1 {
  border: solid 1px #00ff00;
}
.bodyContainer > calendar > tooltip > .hoverTooltip.holidayNum2 {
  border: solid 1px #aaff00;
}
.bodyContainer > calendar > tooltip > .hoverTooltip.holidayNum3 {
  border: solid 1px #ffbb00;
}
.bodyContainer > calendar > tooltip > .hoverTooltip.holidayNum4 {
  border: solid 1px #ff4400;
}
.bodyContainer > calendar > tooltip > .hoverTooltip.holidayNum5 {
  border: solid 1px #ff0000;
}
.bodyContainer > calendar > tooltip > .hoverTooltip > .employeeWithHolidayName {
  display: table-row;
}
.bodyContainer > calendar > tooltip > .hoverTooltip > .employeeWithHolidayName > .tooltipName {
  display: table-cell;
}
.bodyContainer > calendar > tooltip > .hoverTooltip > .employeeWithHolidayName > .tooltipIcon {
  display: table-cell;
}
.bodyContainer > calendar > tooltip > .hoverTooltip > .employeeWithHolidayName > .fa-check {
  color: lime;
  outline: 1px solid lime;
  background-color: rgba(0, 255, 0, 0.3);
}
.bodyContainer > calendar > tooltip > .hoverTooltip > .employeeWithHolidayName > .fa-times {
  color: red;
  outline: 1px solid red;
  background-color: rgba(255, 0, 0, 0.3);
}
.bodyContainer > calendar > tooltip > .hoverTooltip > .employeeWithHolidayName > .fa-question {
  color: deepskyblue;
  outline: 1px solid deepskyblue;
  background-color: rgba(0, 191, 255, 0.3);
}
.bodyContainer > calendar > .key {
  width: 100%;
  bottom: 0;
  height: 13%;
  position: absolute;
  padding-left: 5%;
  padding-right: 5%;
}
.bodyContainer > calendar > .key .keyLabel {
  color: white;
  float: left;
  width: 50%;
  margin-left: 10%;
  margin-top: 20%;
}
.bodyContainer > calendar > .key .keyColor {
  width: 21%;
  height: 100%;
  float: left;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 1px solid black;
  border-bottom: 0;
}
.bodyContainer > calendar > .key > #publicHolidayKey {
  width: 25%;
  height: 100%;
  float: left;
}
.bodyContainer > calendar > .key > #publicHolidayKey > #publicHolidayKeyColor {
  background-color: #2875c7;
}
.bodyContainer > calendar > .key > #confirmedHolidayKey {
  width: 25%;
  height: 100%;
  float: left;
}
.bodyContainer > calendar > .key > #confirmedHolidayKey > #confirmedHolidayKeyColor {
  background-color: #72c015;
}
.bodyContainer > calendar > .key > #pendingHolidayKey {
  width: 25%;
  height: 100%;
  float: left;
}
.bodyContainer > calendar > .key > #pendingHolidayKey > #pendingHolidayKeyColor {
  background-color: purple;
}
.bodyContainer > calendar > .key > #cancelledHolidayKey {
  width: 25%;
  height: 100%;
  float: left;
}
.bodyContainer > calendar > .key > #cancelledHolidayKey > #cancelledHolidayKeyColor {
  background-color: red;
}
.bodyContainer > calendar > .key > #teamHolidayKey {
  width: 70%;
  height: 100%;
  float: left;
  display: table;
  line-height: 2;
}
.bodyContainer > calendar > .key > #teamHolidayKey > .teamHolidayKeyLabel {
  color: white;
  text-align: center;
}
.bodyContainer > calendar > .key > #teamHolidayKey > .colorContainer {
  display: table-row;
  vertical-align: middle;
  width: 100%;
  height: 2vh;
}
.bodyContainer > calendar > .key > #teamHolidayKey > .colorContainer > #teamHolidayKeyColor {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  display: table-cell;
  border-bottom: 1px solid black;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #00ff00), color-stop(50%, #ffbb00), color-stop(100%, #ff0000));
}
.bodyContainer > calendar > .key > #teamHolidayKey > .teamHolidayKeyLabelValues {
  color: white;
  float: left;
  display: table-footer-group;
}
.bodyContainer > calendar > .key > #teamHolidayKey > .teamHolidayKeyLabelValues.two {
  margin-left: 20%;
}
.bodyContainer > calendar > .key > #teamHolidayKey > .teamHolidayKeyLabelValues.three {
  margin-left: 20%;
}
.bodyContainer > calendar > .key > #teamHolidayKey > .teamHolidayKeyLabelValues.four {
  margin-left: 20%;
}
.bodyContainer > calendar > .key > #teamHolidayKey > .teamHolidayKeyLabelValues.five {
  float: right;
}
/*# sourceMappingURL=calendar.css.map */