@publicHoliday-colour: #b9b9b9;
@normalHoliday-colour: #72c015;
@pendingHoliday-colour: deepskyblue;
@cancelledHoliday-colour: #3a5fcd;
@oneHoliday-colour: #0f0;
@twoHoliday-colour: #af0;
@threeHoliday-colour: #fb0;
@fourHoliday-colour: #f40;
@fiveHoliday-colour: #f00;
@background-colour: fade(#000,60%);
@background-colour-no-fade: #000;
@border-colour: lighten(rgba(0, 0, 0, 0.6),12%);
@spacing: 10px;
@icon-width: 40px;
@header-height: 40px;

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../Content/fonts/Roboto-Regular.ttf') format('truetype');
}

.vertical-centre (@height) {
    height: @height;
    line-height: @height !important;
    display: inline-block;
    vertical-align: middle;
}

.border-box {
    box-sizing: border-box;
}

.bodyContainer {
    width: 100%;
    height: 70%;
    border: 1px solid black;
    font-family: Roboto-Regular;
    position: relative;
    background-size: cover;
    background-image: url('../../Content/images/background.jpg');

    > .test {
        color: black;
        font-size: 20px;
        background: magenta;
    }

    > .otherSpace {
        position: relative;
        width: 40%;
        height: 100%;
        font-size: 250%;
        color: rgba(255, 255, 255, 0.8);
        font-weight: bolder;
        line-height: 1;
        float: left;
        z-index: 6;

        > managercalendartabs {
            color: white;
            font-size: 15px;
            font-weight: normal;
            height: 100%;
            width: 100%;
            display: inline-block;

            > .navigationalTabsContainer {
                padding: 6%;
                height: 100%;
                width: 100%;
                border-collapse: collapse;

                > ul.nav {
                    height: 15%;

                    > .navigationalTab {
                        border-top: 1px solid black;
                        border-right: 1px solid black;

                        &:last-child {
                            /*border-right: none;*/
                        }

                        &:first-child {
                            border-left: 1px solid black;
                        }

                        background: @background-colour;
                        color: white;
                        border-radius: 0;
                        width: 20%;
                        height: 100%;
                        float: left;
                        text-align: center;

                        > a {
                            width: 100%;
                            height: 100%;
                            border: 0;
                            padding: 0;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            color: white;
                            background: @background-colour;
                            border-radius: 0;
                        }
                    }

                    > .navigationalTab.active {
                        > a {
                            background: lighten(@background-colour-no-fade,30%);
                        }
                    }
                }

                > .tab-content {
                    height: 85%;

                    > .tab-pane {
                        height: 100%;
                        border-left: 1px solid black;
                        border-right: 1px solid black;
                        border-bottom: 1px solid black;
                        background: @background-colour;

                        > managercalendarcontrols {
                            height: 100%;
                            width: 100%;
                            display: block;

                            > .teamMemberHeaderRow {
                                display: table;
                                text-align: center;
                                width: 100%;
                                height: 7%;
                                border-top: 1px solid black;

                                > .teamMemberInfoHeader {
                                    display: table-cell;
                                    padding: 0 5px;
                                    border-bottom: 1px solid black;
                                    border-left: 1px solid black;
                                    width: 12%;
                                    pointer-events: none;

                                    &:first-child {
                                        pointer-events: all;
                                        width: 30%;
                                        padding: 10px 15px;
                                        border-left: 0;
                                        cursor: pointer;
                                        background: lighten(@background-colour,20%);

                                        &.active {
                                            background: lighten(@background-colour,50%);
                                        }
                                    }
                                }
                            }

                            .slimScrollDiv {
                                > .teamMemberInfoContainer {
                                    text-align: center;
                                    width: 100%;
                                    height: 100% !important;
                                    overflow: hidden;

                                    .teamMemberTableInfoContainer {
                                        display: table;
                                        width: 100%;

                                        > .teamMemberRow {
                                            display: table-row;
                                            border-bottom: 1px solid @border-colour;

                                            &:last-child {
                                                border-bottom: 0;

                                                > .teamMember {
                                                    border-bottom: 0;
                                                }
                                            }

                                            > .teamMemberInfo {
                                                display: table-cell;
                                                padding: 0 5px;
                                                border-left: 1px solid @border-colour;
                                                width: 12%;

                                                @keyframes textpulsatepending {
                                                    0% {
                                                    }

                                                    50% {
                                                        background: fade(@pendingHoliday-colour,40%);
                                                    }

                                                    100% {
                                                    }
                                                }

                                                @keyframes textpulsatecancelled {
                                                    0% {
                                                    }

                                                    50% {
                                                        background: fade(@cancelledHoliday-colour,40%);
                                                    }

                                                    100% {
                                                    }
                                                }

                                                &.isPendingHoliday {
                                                    animation: textpulsatepending 5s;
                                                    animation-iteration-count: infinite;
                                                    cursor: pointer;
                                                }

                                                &.isCancelledHoliday {
                                                    animation: textpulsatecancelled 5s;
                                                    animation-iteration-count: infinite;
                                                    cursor: pointer;
                                                }
                                            }
                                        }
                                    }

                                    .teamMember {
                                        cursor: pointer;
                                        display: table-cell;
                                        background: lighten(@background-colour,20%);
                                        padding: 10px 15px;
                                        text-align: center;
                                        border-right: 1px solid black;
                                        border-bottom: 1px solid black;
                                        width: 30%;

                                        &.active {
                                            background: lighten(@background-colour,50%);
                                        }

                                        &.dead {
                                            pointer-events: none;
                                            background: darken(@background-colour,50%);
                                        }
                                    }
                                }
                            }

                            > .tabHeaderHolidayRow {
                                display: table;
                                text-align: center;
                                width: 100%;
                                height: 7%;
                                pointer-events: none;

                                &:last-child {
                                    > .tabHolidayHeaderCell {
                                        border-bottom: 0;
                                    }
                                }

                                > .tabHolidayHeaderCell {
                                    display: table-cell;
                                    padding: 5px 5px;
                                    border-bottom: 1px solid black;

                                    &:last-child {
                                        border-left: 1px solid black;
                                    }
                                }

                                > .tabHolidayHeader {
                                    background: lighten(@background-colour,20%);
                                    border-top: 1px black solid;
                                    border-bottom: 1px black solid;
                                    border-right: 1px black solid;
                                    padding: 8px 5px;

                                    &:last-child {
                                        border-right: 0;
                                        width: 25%;
                                    }

                                    &:first-child {
                                        border-left: 0;
                                    }
                                }
                            }

                            .slimScrollDiv {
                                > .tabHolidayContainer {
                                    text-align: center;
                                    width: 100%;
                                    height: 100% !important;
                                    overflow-y: auto;

                                    > .tabTableHolidayContainer {
                                        display: table;
                                        width: 100%;

                                        > .tabHolidayRow {
                                            display: table-row;

                                            &:last-child {
                                                > .tabHolidayCell {
                                                    border-bottom: 0;
                                                }
                                            }

                                            > .tabHolidayCell {
                                                display: table-cell;
                                                padding: 5px 5px;
                                                border-bottom: 1px solid black;
                                                background: rgba(255,255,255,0.15);

                                                &:last-child {
                                                    border-left: 1px solid black;
                                                    width: 25%;
                                                }

                                                > .tabHolidayAction {
                                                    cursor: pointer;

                                                    &.fa-check {
                                                        color: #0f0;
                                                    }

                                                    &.fa-times {
                                                        color: red;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        > .controls {
            position: absolute;
            bottom: 1px;
            color: white;
            font-size: 15px;
            font-weight: normal;

            > button {
                background-color: @background-colour;
                color: rgba(255, 255, 255, 0.8);
            }

            > selectbox {
                > #selectContainer {
                    background: @background-colour;
                    vertical-align: bottom;

                    > option {
                        background-color: @background-colour;
                    }
                }
            }
        }
    }


    > calendar {
        position: relative;
        border-right: 1px solid black;
        border-left: 1px solid black;
        float: left;
        display: block;
        box-sizing: border-box;
        background: @background-colour;
        width: 50%;
        height: 100%;
        z-index: 7;

        > managercalendartooltip {
            > .hoverTooltip {
                position: fixed;
                z-index: 100;
                background: rgba(0, 0, 0, 0.7);
                outline: solid 1px black;
                color: white;
                pointer-events: none;
                display: table;
                border-spacing: 9px;
                text-align: center;

                &.holidayNum1 {
                    border: solid 1px @oneHoliday-colour;
                }

                &.holidayNum2 {
                    border: solid 1px @twoHoliday-colour;
                }

                &.holidayNum3 {
                    border: solid 1px @threeHoliday-colour;
                }

                &.holidayNum4 {
                    border: solid 1px @fourHoliday-colour;
                }

                &.holidayNum5 {
                    border: solid 1px @fiveHoliday-colour;
                }

                > .employeeWithHolidayName {
                    display: table-row;

                    > .tooltipName {
                        display: table-cell;
                    }

                    > .tooltipIcon {
                        display: table-cell;
                    }

                    > .fa-check {
                        color: lime;
                        outline: 1px solid lime;
                        background-color: fade(lime,30%);
                    }

                    > .fa-times {
                        color: @cancelledHoliday-colour;
                        outline: 1px solid @cancelledHoliday-colour;
                        background-color: fade(@cancelledHoliday-colour,30%);
                    }

                    > .fa-question {
                        color: @pendingHoliday-colour;
                        outline: 1px solid @pendingHoliday-colour;
                        background-color: fade(@pendingHoliday-colour,30%);
                    }
                }
            }
        }

        > .header {
            float: left;
            width: 100%;
            height: @header-height;
            color: white;
            margin-top: 15%;

            > * {
                .vertical-centre(@header-height);
            }

            > i {
                float: left;
                width: 10%;
                position: relative;
                .border-box;
                padding: 0 @spacing;
                cursor: pointer;

                > &.fa-angle-left {
                    text-align: left;
                }

                > &.fa-angle-right {
                    text-align: right;
                }
            }

            > span {
                pointer-events: none;
                float: left;
                width: 80%;
                font-weight: bold;
                font-size: 2em;
                text-transform: uppercase;
                .border-box;
                text-align: center;
                color: inherit;
            }
        }

        > .month {
            transition: 2s;

            > .week {
                width: 100%;
                padding-left: 10%;
                padding-right: 10%;
                float: left;

                &:first-child {
                    border-top: none;
                }

                &.names > span {
                    color: rgba(255, 255, 255, 0.60);
                    margin-top: 30px;
                    pointer-events: none;
                }

                > .day {
                    float: left;
                    border-radius: 15%;
                    width: 95%/7;
                    .border-box;
                    font-size: 1em;
                    text-align: center;
                    .vertical-centre(5vh);
                    cursor: pointer;
                    color: white;
                    margin: 2.5%/7;
                    background: rgba(255,255,255,0);
                    transition: 1s;

                    &.isweekend {
                        cursor: none;
                        pointer-events: none;
                        background: lighten(@background-colour,40%);
                    }

                    &.today {
                        font-size: 1.8em;
                        font-weight: bolder;
                    }

                    &.different-month {
                        color: rgba(255, 255, 255, 0.60);
                    }

                    &.selected {
                        background: rgba(254, 254, 254,0.4);
                        border-radius: 15%;
                    }

                    &.isConfirmedHoliday {
                        background: @normalHoliday-colour;
                        transition: 0.5s;
                    }

                    &.isPublicHoliday {
                        background: @publicHoliday-colour;
                        cursor: none;
                        pointer-events: none;
                    }

                    &.isPendingHoliday {
                        background-color: @pendingHoliday-colour !important;
                        transition: 0.5s;
                    }

                    &.isCancelledHoliday {
                        background: @cancelledHoliday-colour !important;
                        transition: 0.5s;
                    }

                    &.isTeamHoliday.isPendingHoliday {
                        background: @pendingHoliday-colour !important;
                        transition: 0.5s;
                    }

                    &.holidayNum1 {
                        background: fade(@oneHoliday-colour, 80%);
                        color: white;
                        border-radius: 15%;
                        transition: 0.5s;
                    }

                    &.holidayNum2 {
                        background: fade(@twoHoliday-colour, 80%);
                        color: white;
                        border-radius: 15%;
                        transition: 0.5s;
                    }

                    &.holidayNum3 {
                        background: fade(@threeHoliday-colour, 80%);
                        color: white;
                        border-radius: 15%;
                        transition: 0.5s;
                    }

                    &.holidayNum4 {
                        background: fade(@fourHoliday-colour, 80%);
                        color: white;
                        border-radius: 15%;
                        transition: 0.5s;
                    }

                    &.holidayNum5 {
                        background: fade(@fiveHoliday-colour, 80%);
                        color: white;
                        border-radius: 15%;
                        transition: 0.5s;
                    }
                }
            }
        }

        > .key {
            width: 100%;
            height: 13%;
            position: absolute;
            padding-left: 5%;
            padding-right: 5%;
            pointer-events: none;

            &.top {
                top: 0;

                > .holidayKey {
                    > .keyColor {
                        transform: rotate(180deg);
                    }
                }
            }

            &.bottom {
                bottom: 0;
            }

            .keyLabel {
                color: white;
                float: left;
                width: 79%;
                height: 100%;
                padding: 12.5%;
                text-align: center;
                display: flex;
                justify-content: center;
                flex-direction: column;
            }

            .keyColor {
                width: 21%;
                height: 100%;
                float: left;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                border: 1px solid black;
                border-bottom: 0;
            }

            > #publicHolidayKey {
                width: 25%;
                height: 100%;
                float: left;

                > #publicHolidayKeyColor {
                    background-color: @publicHoliday-colour;
                }
            }

            > #confirmedHolidayKey {
                width: 25%;
                height: 100%;
                float: left;

                > #confirmedHolidayKeyColor {
                    background-color: @normalHoliday-colour;
                }
            }

            > #pendingHolidayKey {
                width: 25%;
                height: 100%;
                float: left;

                > #pendingHolidayKeyColor {
                    background-color: @pendingHoliday-colour;
                }
            }

            > #cancelledHolidayKey {
                width: 25%;
                height: 100%;
                float: left;

                > #cancelledHolidayKeyColor {
                    background-color: @cancelledHoliday-colour;
                }
            }


            > #teamHolidayKey {
                width: 50%;
                height: 100%;
                float: left;
                display: table;
                line-height: 2;


                > .teamHolidayKeyLabel {
                    color: white;
                    text-align: center;
                }

                > .colorContainer {
                    display: table-row;
                    vertical-align: middle;
                    width: 100%;
                    height: 2vh;

                    > #teamHolidayKeyColor {
                        border-radius: 15px;
                        width: 100%;
                        height: 100%;
                        display: table-cell;
                        border-bottom: 1px solid black;
                        background: -webkit-gradient(linear, left top, right top, color-stop(0, @oneHoliday-colour), color-stop(50%, @threeHoliday-colour), color-stop(100%, @fiveHoliday-colour));
                    }
                }

                > .teamHolidayKeyLabelValues {
                    color: white;
                    float: left;
                    display: table-footer-group;

                    &.one {
                    }

                    &.two {
                        margin-left: 20%;
                    }

                    &.three {
                        margin-left: 20%;
                    }

                    &.four {
                        margin-left: 20%;
                    }

                    &.five {
                        float: right;
                    }
                }
            }
        }
    }
}
